@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Avenir';
    src: url('https://fonts.cdnfonts.com/css/avenir') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: 'Aleo', serif;
    letter-spacing: -0.01em;
    line-height: 1.15;
    font-weight: 500;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@500&family=IBM+Plex+Mono:wght@300;400&display=swap');

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}